<template>
    <svg :class="classes" width="14" height="14" viewBox="0 0 14 14" fill="inherit" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5 3.5C5 3.89782 4.84196 4.27936 4.56066 4.56066C4.27936 4.84196 3.89782 5 3.5 5C3.10218 5 2.72064 4.84196 2.43934 4.56066C2.15804 4.27936 2 3.89782 2 3.5C2 3.10218 2.15804 2.72064 2.43934 2.43934C2.72064 2.15804 3.10218 2 3.5 2C3.89782 2 4.27936 2.15804 4.56066 2.43934C4.84196 2.72064 5 3.10218 5 3.5ZM4 3.5C4 3.36739 3.94732 3.24021 3.85355 3.14645C3.75979 3.05268 3.63261 3 3.5 3C3.36739 3 3.24021 3.05268 3.14645 3.14645C3.05268 3.24021 3 3.36739 3 3.5C3 3.63261 3.05268 3.75979 3.14645 3.85355C3.24021 3.94732 3.36739 4 3.5 4C3.63261 4 3.75979 3.94732 3.85355 3.85355C3.94732 3.75979 4 3.63261 4 3.5Z"
            fill="inherit" />
        <path
            d="M1 0H5.586C5.85119 5.66374e-05 6.10551 0.105451 6.293 0.293L13.293 7.293C13.4805 7.48053 13.5858 7.73484 13.5858 8C13.5858 8.26516 13.4805 8.51947 13.293 8.707L8.707 13.293C8.51947 13.4805 8.26516 13.5858 8 13.5858C7.73484 13.5858 7.48053 13.4805 7.293 13.293L0.293 6.293C0.105451 6.10551 5.66374e-05 5.85119 0 5.586V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0ZM1 5.586L8 12.586L12.586 8L5.586 1H1V5.586Z"
            fill="inherit" />
    </svg>
</template>
<script>
import "./TagIcon.css";
export default {
    name: "escr-tag-icon",
    props: {
        active: {
            type: Boolean,
            default: false,
        }
    },
    computed: {
        classes() {
            return {
                "escr-tag-icon": true,
                "escr-tag-icon--active": this.active,
            };
        },
    },
};
</script>
