<template>
    <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        :class="classes"
    >
        <path
            d="M5.1398 6.47332L7.9998 3.60666L10.8598 6.47332C10.9218 6.53581 10.9955 6.5854 11.0767 6.61925C11.158 6.6531 11.2451 6.67052 11.3331 6.67052C11.4211 6.67052 11.5083 6.6531 11.5895 6.61925C11.6708 6.5854 11.7445 6.53581 11.8065 6.47332C11.8689 6.41135 11.9185 6.33761 11.9524 6.25637C11.9862 6.17513 12.0037 6.088 12.0037 5.99999C12.0037 5.91198 11.9862 5.82484 11.9524 5.74361C11.9185 5.66237 11.8689 5.58863 11.8065 5.52666L8.47313 2.19332C8.41116 2.13084 8.33742 2.08124 8.25618 2.0474C8.17494 2.01355 8.08781 1.99612 7.9998 1.99612C7.91179 1.99612 7.82465 2.01355 7.74341 2.0474C7.66217 2.08124 7.58844 2.13084 7.52646 2.19332L4.19313 5.52666C4.13097 5.58882 4.08167 5.66261 4.04803 5.74382C4.01438 5.82504 3.99707 5.91208 3.99707 5.99999C3.99707 6.17752 4.0676 6.34779 4.19313 6.47332C4.31867 6.59886 4.48893 6.66938 4.66646 6.66938C4.844 6.66938 5.01426 6.59886 5.1398 6.47332Z"
        />
        <path
            d="M10.8598 9.52669L7.9998 12.3934L5.1398 9.52669C5.01426 9.40115 4.844 9.33063 4.66646 9.33063C4.48893 9.33063 4.31867 9.40115 4.19313 9.52669C4.0676 9.65222 3.99707 9.82249 3.99707 10C3.99707 10.1776 4.0676 10.3478 4.19313 10.4734L7.52646 13.8067C7.58844 13.8692 7.66217 13.9188 7.74341 13.9526C7.82465 13.9865 7.91179 14.0039 7.9998 14.0039C8.08781 14.0039 8.17494 13.9865 8.25618 13.9526C8.33742 13.9188 8.41116 13.8692 8.47313 13.8067L11.8065 10.4734C11.8686 10.4112 11.9179 10.3374 11.9516 10.2562C11.9852 10.175 12.0025 10.0879 12.0025 10C12.0025 9.91212 11.9852 9.82507 11.9516 9.74385C11.9179 9.66264 11.8686 9.58885 11.8065 9.52669C11.7443 9.46453 11.6705 9.41522 11.5893 9.38158C11.5081 9.34794 11.421 9.33063 11.3331 9.33063C11.2452 9.33063 11.1582 9.34794 11.077 9.38158C10.9958 9.41522 10.922 9.46453 10.8598 9.52669Z"
        />
    </svg>
</template>
<script>
import "./SortIcon.css";
export default {
    name: "EscrSortIcon",
    props: {
        state: {
            type: Number,
            default: 0,
            validator: function (value) {
                return [1, -1, 0].includes(value);
            },
        }
    },
    computed: {
        classes() {
            let state = "inactive";
            if (this.state === 1) state = "asc";
            else if (this.state === -1) state = "desc";
            return {
                "escr-sort-icon": true,
                [`escr-sort-icon--${state}`]: true,
            };
        },
    },
};
</script>
